<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout   pattern="%d{dd-MMM-yy HH:mm:ss}{GMT+0} UTC [%c{1}] %M:%L [%-5level] -- %msg%n"/>
        </Console>

        <File name="FileLogger" fileName="src/main/resources/JV-Logger.log">
            <PatternLayout>
                <pattern>%d{dd-MMM-yy HH:mm:ss}{GMT+0} UTC [%c{1}] %M:%L [%-5level] -- %msg%n</pattern>
            </PatternLayout>
        </File>

    </Appenders>
    <Loggers>
        <Logger name="planner" level="DEBUG" additivity="false">
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="FileLogger"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="FileLogger"/>
        </Root>
    </Loggers>
</Configuration>
